@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,300&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,300&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&family=Poppins:ital,wght@0,500;0,600;1,300&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Paradise;
  src: url('/assets/Paradise.otf');
}
@font-face {
  font-family: Montserrat;
  src: url('/assets/Montserrat.TTF');
}
@font-face {
  font-family: Montserrat-Extrabold;
  src: url('/assets/Montserrat-Extrabold.TTF');
}
@font-face {
  font-family: Montserrat-Variable;
  src: url('/assets/Montserrat-Variable.ttf');
}
@font-face {
  font-family: Playfair;
  src: url('/assets/Playfair.otf');
}
@font-face {
  font-family: Playfair;
  src: url('/assets/Playfair-Black.otf');
}
@font-face {
  font-family: Adela;
  src: url('/assets/adela.ttf');
}
@font-face {
  font-family: Adelia;
  src: url('/assets/adelia.ttf');
}
@font-face {
  font-family: Lobster;
  src: url('/assets/Lobster.otf');
}
@font-face {
  font-family: Antonio;
  src: url('/assets/Antonio-Regular.ttf');
}
@font-face {
  font-family: Honey;
  src: url('/assets/hello-honey.otf');
}
@font-face {
  font-family: Richard;
  src: url('/assets/Richards-Frederick.otf');
}
@font-face {
  font-family: Honey;
  src: url('/assets/hello-honey.otf');
}
@font-face {
  font-family: Damion;
  src: url('/assets/Damion-Regular.ttf');
}
@font-face {
  font-family: Belgrano;
  src: url('/assets/Belgrano-Regular.ttf');
}
/* @font-face {
  font-family: Poppins;
  src: url('../assets/Poppins-Regular.ttf');
} */
@font-face {
  font-family: Poppins-Extrabold;
  src: url('/assets/Poppins-ExtraBold.ttf');
}
@font-face {
  font-family: AbhayaLibre;
  src: url('/assets/AbhayaLibre-Regular.ttf');
}
@font-face {
  font-family: AbhayaLibre-Bold;
  src: url('/assets/AbhayaLibre-Bold.ttf');
}

html, body {
  min-height: 100%;
  scroll-behavior: smooth;
}

#__next {
  height: 100%;
}
#map {
  height: 100%;
}
/* radix-ui-css */

.TabsTrigger {
  font-family: inherit;
  background-color: white;
  font-size: 15px;
  line-height: 1;
  color: var(--mauve11);
  user-select: none;
}
.TabsTrigger:first-child {
  border-top-left-radius: 6px;
}
.TabsTrigger:last-child {
  border-top-right-radius: 6px;
}
.TabsTrigger:hover {
  @apply bg-gray-50
}
.TabsTrigger[data-state='active'] {
  @apply border-gray-600 border-b-2
}
.TabsTrigger:focus {
  position: relative;
  @apply border-gray-600 border-b-2
}

.SideBarTabsTrigger {
  @apply text-gray-600 transition-colors duration-300 transform rounded-lg
}
.SideBarTabsTrigger:hover {
  @apply dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700
}
.SideBarTabsTrigger[data-state='active'] {
  @apply dark:text-gray-200 bg-gray-100 dark:bg-gray-800 text-gray-700
}
.SideBarTabsTrigger:focus {
  position: relative;
  @apply dark:text-gray-200 hover:bg-gray-100 dark:bg-gray-800 text-gray-700
}